body{
    margin: 0;
}
.menu-top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    padding: 0;
    margin: 15px 0;
}
.menu-top li, .menu-top a{
    display: inline-block;
}
.menu-top a{
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
}
.menu-top li:not(:last-child) {
    margin-right: 30px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}